<div class="container">
<div>
<% if current_user %>
  Logged in as <%= current_user.email %>. &nbsp &nbsp &nbsp &nbsp
  <%= link_to "Log Out", logout_path %> &nbsp
  <%= link_to "Ask Question", ask_path %> &nbsp
  <%= link_to 'My Questions', questions_path %> &nbsp
  <%= link_to 'All Questions', showall_path %>  
</div><br><br>
<p id="notice"><%= notice %></p>
<h5 class="title is-5"> <%= @user %> <h8> asked </h8> </h5>
<h1 class="title">
	<%= @question[:value] %> 
</h1>
<div>
<h8 class="title is-5"><%= link_to "See Question", '/questions/'+@question[:id].to_s %></h8>
</div>
<br>
<h5 class="title is-5">Comments:</h5>
<% @comments.each do |comment| %>
<div>
	<strong> <%= User.find(Comment.find(comment)[:user])[:name] %> </strong>
	<%= Comment.find(comment).value %>
	<% if comment == @comment_id %>
		<% if @replies %>
			<% @replies.each do |reply| %>
				<div>
					<p>
						>>> <strong> <%= User.find(Reply.find(reply)[:user])[:name] %> </strong>
						<%= Reply.find(reply).value %>
					</p>
				</div>
			<% end %>
		<% end %>
		<%= render 'form', reply: @reply %>
	<% end %>
</div>
<% end %>
<!--<%= link_to 'Back', replies_path %>-->
<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>
</div>