<div class="container">
<div>
<% if current_user %>
  Logged in as <%= current_user.email %>. &nbsp &nbsp &nbsp &nbsp
  <%= link_to "Log Out", logout_path %> &nbsp
  <%= link_to "Ask Question", ask_path %> &nbsp
  <%= link_to 'My Questions', questions_path %> &nbsp
  <%= link_to 'All Questions', showall_path %>  
</div><br><br>
<p id="notice"><%= notice %></p>

<h1 class="title">Questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Question</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= User.find(question.user)[:name] %></td>
        <td><%= question.value %></td>
        <td>
          <% if question.comments %>
            <%= question.comments.split(',').count() %>
            <% else %>
            <%= 0 %>
            <% end %>
        </td>
        <td><%= link_to 'Show', question %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>
</div>