<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
  <%= link_to "Ask Question", ask_path %>
  <%= link_to 'Your Questions', questions_path %>
  <%= link_to 'All Questions', showall_path %>
<p id="notice"><%= notice %></p>

<h1>
  <%= @question.value %>
</h1>
<% if current_user.id.to_s == @question.user.to_s %>
<%= link_to 'Edit', edit_question_path(@question) %>
<% end %>
<div>
	<%= render 'form1', comment: @comment %>
</div>
<p>
  <h3>Comments:</h3>
  <% if @question.comments %>
  <% arr = @question.comments.split(',') %>
  <% arr.each do |id| %>
  <div>
    <strong> <%= User.find(Comment.find(id)[:user])[:name] %> </strong>
    <%= Comment.find(id)[:value] %>
  </div>
  <% end %>
  <% end %>
</p>

<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>