<div class="container">
<div>
<% if current_user %>
  Logged in as <%= current_user.email %>. &nbsp &nbsp &nbsp &nbsp
  <%= link_to "Log Out", logout_path %> &nbsp
  <%= link_to "Ask Question", ask_path %> &nbsp
  <%= link_to 'My Questions', questions_path %> &nbsp
  <%= link_to 'All Questions', showall_path %>  
</div><br><br>
<p id="notice"><%= notice %></p>

<h3><%= User.find(Question.find(@comment.question)[:user])[:name] %> <small> asked</small></h3>
<h1>
  <strong>Question:</strong>
  <%= Question.find(@comment.question)[:value] %>
</h1>
<p>
  <strong><%= User.find(@comment.user)[:name] %>:</strong>
  <%= @comment.value %>
</p>
<p>
  <strong>Reply:</strong>
  <%= @comment.reply %>
</p>

<!--<%= link_to 'Edit', edit_comment_path(@comment) %> |-->
<!--<%= link_to 'Back', comments_path %>-->

<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>
</div>